* {
    padding: 0px;
    margin: 0px;
  }
  body {
    font-family: system-ui;
    background: white;
    color: black;
    text-align: center;
  }
  
  .main {
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }  
  
  .main .Container{
    height: 650px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
    align-self: center;
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

.title {
  font-size: 2rem;
}
.desc {
  padding-top: 5px;
  font-size: 1rem;
  text-decoration: underline;
}

.chart{
  margin: 20px auto;
}

.tooltip{
  position: absolute;
  padding: 10px;
  font: 10px sans-serif;
  background: #FFCBA4;
  border: 0px;
  border-radius: 8px;
  pointer-events: none; 
}
.red{
  color:red;
}
.green{
  color:green;
}
.legend{
    width: 25px;
    height: 25px;
    border: 1px solid black;
    z-index: 1;
}
.tip{
    background-color: rgba(0,0,0,0.8);
    border-radius: 6px;
    color: white;
    text-align: center;
    padding: 0.5em;
}
.legrect{
  border: 1px solid black;
}
cell{
  text: 2rem;
}
