* {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: system-ui;
  background: white;
  color: black;
  text-align: center;
}

.main {
  height: 100vh;
  width: 100vw;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}  

.main .Container{
  height: 560px;
  width: 900px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 20px 20px;
  align-self: center;
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.title {
  font-size: 2rem;
}

.chart{
  margin: 20px auto;
}

.legend{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 50px;
  max-width: 125px;
  font-size: .6rem;
  text-align: left;
  border: 1px solid grey;
  position: absolute;
  left: 65%;
  top: 150px;
  padding: 10px;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-width: 125px;
  flex: 1 1 auto;
}
.legend .box{
  height: 10px;
  width: 20%;
}
.insidecircle{
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
.legend .legendText{
  width: 70%;
  flex-wrap: wrap;
}
.red{
    background-color: #bd162c;
}
.green{
    background-color: #30B700;
}
div.tooltip{
  position: absolute;
  padding: 10px;
  font: 10px sans-serif;
  background: #FFCBA4;
  border: 0px;
  border-radius: 8px;
  pointer-events: none; 
}
